.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-name {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.has-gradient-text {
    background: -webkit-linear-gradient(blue, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
    .board-bar {
        background: rgba($color: gray, $alpha: 0.5);
        padding: 8px 15px;
        .board-name {
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }
    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;
        .board-colums {
            display: flex;
            flex-grow: 1;
            .board-colums {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 0; // to force all the columns to all be the same size, regardless of the content
                min-width: 300px;
                margin: 50px;
                padding: 25px;
                background: rgba(white, 0.5);
            }
        }
    }
}